<div class="container">
	<div style="display: block;">
		<canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
			[plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
		</canvas>
	</div>
	<div class="row">
		<div class="card col-md-4 col-xs-12">
			<div class="card-header">
				<h5 class="card-title">Simular percentual Ponta</h5>
			</div>
			<div class="card-body">
				<h5>Percentual:</h5>
				<p>{{resHelperPercentualSimulacaoSlider}}</p>
				<br>
				<input [(ngModel)]="resHelperPercentualSimulacaoSlider"  type="range" #slider min="10" max="100" value="0" [value]="0"  class="slider" >
				<br>
				<button class="btn btn-primary" (click)="sliderSimulation()">Simular</button>
			</div>
		</div>
		<table class="table col-md-8 col-xs-12">
			<thead>
				<tr>
					<th>Origem</th>
					<th>Destino</th>
					<th>Simulação</th>
				</tr>
			</thead>
			<tr>
				<td>{{ histPriceTotalFatura }}</td>
				<td>{{ resPriceDestinoTotal }}</td>
				<td>{{ resPriceSimulacaoTotal }}</td>
			</tr>
		</table>
	</div>
	<div class="flex">
		<div class="flex-item">
			<div style="display: block;">
				<canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
					[options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
					[chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
					(chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">variável</th>
					<th scope="col"> Histórico Kw/h</th>
					<th scope="col"> Tarifa Origem</th>
					<th scope="col"> Valor na Fatura</th>
					<th scope="col"> Tarifa Origem</th>
					<th scope="col"> Valor na Origem</th>
					<th scope="col"> Tarifa Destino</th>
					<th scope="col"> Valor no Destino</th>
					<!-- <th scope="col">  histKwhSim 
<th scope="col"> tarPriceSim  
<th scope="col">   fatorKwhSim 
<th scope="col">   fatorPriceSim -->
					<th scope="col"> Valor Simulação
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Consumo Ponta tusd </th>
					<td> {{ histKwhConsumoPontaTusd }} </td>
					<td> {{ histTarConsumoPontaTusd }} </td>
					<td> {{ histPriceConsumoPontaTusd }} </td>
					<td> {{ tarOrigemPontaTusd }} </td>
					<td> {{ resPriceOrigemConsumoPontaTusd }} </td>
					<td> {{ tarDestinoPontaTusd }} </td>
					<td> {{ resPriceDestinoConsumoPontaTusd }} </td>
					<td> {{ resPriceSimulacaoConsumoPontaTusd }} </td>
				</tr>
				<tr>
					<th scope="row">Consumo Fora Ponta tusd</th>
					<td> {{ histKwhConsumoForaPontaTusd }} </td>
					<td> {{ histTarConsumoForaPontaTusd }} </td>
					<td> {{ histPriceConsumoForaPontaTusd }} </td>
					<td> {{ tarOrigemForaPontaTusd }} </td>
					<td> {{ resPriceOrigemConsumoForaPontaTusd }} </td>
					<td> {{ tarDestinoForaPontaTusd }} </td>
					<td> {{ resPriceDestinoConsumoForaPontaTusd }} </td>
					<td> {{ resPriceDestinoConsumoForaPontaTusd }} </td>
				</tr>
				<tr>
					<th scope="row"> Consumo Ponta TE</th>
					<td> {{ histKwhConsumoPontaTe }} </td>
					<td> {{ histTarConsumoPontaTe }} </td>
					<td> {{ histPriceConsumoPontaTe }} </td>
					<td> {{ tarOrigemPontaTe }} </td>
					<td> {{ resPriceOrigemConsumoPontaTe }} </td>
					<td> {{ tarDestinoPontaTe }} </td>
					<td> {{ resPriceDestinoConsumoPontaTe }} </td>
					<td> {{ resPriceSimulacaoConsumoPontaTe }} </td>
				</tr>
				<tr>
					<th scope="row"> Consumo Fora Ponta TE</th>
					<td> {{ histKwhConsumoForaPontaTe }} </td>
					<td> {{ histTarConsumoForaPontaTe }} </td>
					<td> {{ histPriceConsumoForaPontaTe }} </td>
					<td> {{ tarOrigemForaPontaTe }} </td>
					<td> {{ resPriceOrigemConsumoForaPontaTe }} </td>
					<td> {{ tarDestinoForaPontaTe }} </td>
					<td> {{ resPriceDestinoConsumoForaPontaTe }} </td>
					<td> {{ resPriceDestinoConsumoForaPontaTe }} </td>
				</tr>

				<tr>
					<th scope="row"> Consumo Reativo Exedente Ponta</th>
					<td> {{ histKwhConsumoReativoExcedentePonta }}</td>
					<td> {{ histTarConsumoReativoExcedentePonta }}</td>
					<td> {{ histPriceConsumoReativoExcedentePonta }}</td>
					<td> {{ tarOrigemConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ resPriceOrigemConsumoReativoExcedentePonta }}</td>
					<td> {{ tarDestinoConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ resPriceDestinoConsumoReativoExcedentePonta }}</td>
					<td> {{ resPriceDestinoConsumoReativoExcedentePonta }}</td>
				</tr>
				<tr>
					<th scope="row">Consumo Reativo Exedente Fora Ponta</th>
					<td> {{ histKwhConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ histTarConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ histPriceConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ tarOrigemConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ resPriceOrigemConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ tarDestinoConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ resPriceDestinoConsumoReativoExcedenteForaPonta }}</td>
					<td> {{ resPriceDestinoConsumoReativoExcedenteForaPonta }}</td>
				</tr>
				<tr>
					<th scope="row"> Adicional Bandeiras Ponta</th>
					<td> 'N/D'</td>
					<td> 'N/D'</td>
					<td> {{ histPriceAdicionalBandeirasPonta }}</td>
					<td> 'N/D'</td>
					<td> {{ resPriceOrigemAdicionalBandeirasPonta }}</td>
					<td> 'N/D'</td>
					<td> {{ resPriceDestinoAdicionalBandeirasPonta }}</td>
					<td> {{ resPriceDestinoAdicionalBandeirasPonta }}</td>
				</tr>
				<tr>
					<th scope="row">Adicional Bandeiras Fora Ponta</th>
					<td> 'N/D'</td>
					<td> 'N/D'</td>
					<td> {{ histPriceAdicionalBandeirasForaPonta }}</td>
					<td> 'N/D'</td>
					<td> {{ resPriceOrigemAdicionalBandeirasForaPonta }}</td>
					<td> 'N/D'</td>
					<td> {{ resPriceDestinoAdicionalBandeirasForaPonta }}</td>
					<td> {{ resPriceDestinoAdicionalBandeirasForaPonta }}</td>
				</tr>
				<tr>
					<th scope="row">Demanda Reativa Exedente Fora Ponta TUSD</th>
					<td>{{ histKwhDemandaReativaExcedenteForaPontaTusd }}</td>
					<td>{{ histTarDemandaReativaExcedenteForaPontaTusd }}</td>
					<td>{{ histPriceDemandaReativaExcedenteForaPontaTusd }}</td>
					<td>{{ tarOrigemDemandaReativaExcedenteForaPontaTusd }}</td>
					<td>{{ resPriceOrigemDemandaReativaExcedenteForaPontaTusd }} </td>
					<td>{{ tarDestinoDemandaReativaExcedenteForaPontaTusd }}</td>
					<td>{{ resPriceDestinoDemandaReativaExcedenteForaPontaTusd }} </td>
					<td>{{ resPriceDestinoDemandaReativaExcedenteForaPontaTusd }} </td>
				</tr>
				<tr>
					<th scope="row">Demanda Registrada Ponta TUSD</th>
					<td> {{ histKwhDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ histTarDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ histPriceDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ tarOrigemDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ resPriceOrigemDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ tarDestinoDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ resPriceDestinoDemandaRegistradaKwPontaTusd }}</td>
					<td> {{ resPriceSimulacaoDemandaRegistradaKwPontaTusd }}</td>
				</tr>
				<tr>
					<th scope="row">Demanda Registrada Fora Ponta TUSD</th>
					<td>{{ histKwhDemandaRegistradaKwForaPontaTusd }}</td>
					<td>{{ histTarDemandaRegistradaKwForaPontaTusd }}</td>
					<td>{{ histPriceDemandaRegistradaKwForaPontaTusd }}</td>
					<td>{{ tarOrigemDemandaRegistradaKwForaPontaTusd }}</td>
					<td>{{ resPriceOrigemDemandaRegistradaForaPontaTusd }}</td>
					<td>{{ tarDestinoDemandaRegistradaKwForaPontaTusd }}</td>
					<td>{{ resPriceDestinoDemandaRegistradaForaPontaTusd }}</td>
					<td>{{ resPriceDestinoDemandaRegistradaForaPontaTusd }}</td>
				</tr>
				<tr>
					<th scope="row">Demanda Não Utilizada Ponta</th>
					<td>12.2 {{ histKwhDemandaNaoUtilizadaPonta }}</td>
					<td>12.3 {{ histTarDemandaNaoUtilizadaPonta }}</td>
					<td>12.4 {{ histPriceDemandaNaoUtilizadaPonta }}</td>
					<td>12.5 {{ tarOrigemDemandaNaoUtilizadaPonta }}</td>
					<td>12.6 {{ resPriceOrigemDemandaNaoUtilizadaPonta }}</td>
					<td>12.7 {{ tarDestinoDemandaNaoUtilizadaPonta }}</td>
					<td>12.8 {{ resPriceDestinoDemandaNaoUtilizadaPonta }}</td>
					<td>12.9 {{ resPriceDestinoDemandaNaoUtilizadaPonta }}</td>
				</tr>
				<tr>
					<th scope="row"> Demanda Não Utilizada Fora Ponta</th>
					<td> {{ histKwhDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ histTarDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ histPriceDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ tarOrigemDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ resPriceOrigemDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ tarDestinoDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ resPriceDestinoDemandaNaoUtilizadaForaPonta }}</td>
					<td> {{ resPriceDestinoDemandaNaoUtilizadaForaPonta }}</td>
				</tr>
				<tr>
					<th scope="row"> Ultrapassagem Demanda Contratada Ponta</th>
					<td> {{ histKwhUltrapassagemDemandaPonta }}</td>
					<td> {{ histTarUltrapassagemDemandaPonta }}</td>
					<td> {{ histPriceUltrapassagemDemandaPonta }}</td>
					<td> {{ tarOrigemUltrapassagemDemandaPonta }}</td>
					<td> {{ resPriceOrigemUltrapassagemDemandaPonta }}</td>
					<td> {{ tarDestinoUltrapassagemDemandaPonta }}</td>
					<td> {{ resPriceDestinoUltrapassagemDemandaPonta }}</td>
					<td> {{ resPriceDestinoUltrapassagemDemandaPonta }}</td>
				</tr>
				<tr>
					<th scope="row"> Ultrapassagem Demanda Contratada Fora Ponta</th>
					<td> {{ histKwhUltrapassagemDemandaForaPonta }}</td>
					<td> {{ histTarUltrapassagemDemandaForaPonta }}</td>
					<td> {{ histPriceUltrapassagemDemandaForaPonta }}</td>
					<td> {{ tarOrigemUltrapassagemDemandaForaPonta }}</td>
					<td> {{ resPriceOrigemUltrapassagemDemandaForaPonta }}</td>
					<td> {{ tarDestinoUltrapassagemDemandaForaPonta }}</td>
					<td> {{ resPriceOrigemUltrapassagemDemandaForaPonta }}</td>
					<td> {{ resPriceOrigemUltrapassagemDemandaForaPonta }}</td>
				</tr>
				<tr>
					<th scope="row">Outros</th>
					<td>'N/D'</td>
					<td>'N/D'</td>
					<td>{{ histPriceOutros }}</td>
					<td>'N/D'</td>
					<td>{{ resPriceOrigemOutros }}</td>
					<td>'N/D'</td>
					<td>{{ resPriceDestinoOutros }}</td>
					<td>{{ resPriceDestinoOutros }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>